fastapi
uvicorn[standard]
gunicorn
pydantic
langchain-google-genai
langchain_community
tiktoken
google-generativeai
langchain
requests
opencv-python-headless
numpy
tensorflow-cpu
python-multipart
dotenv